<div *requiredPermissions="[USERS_READ_PERMISSION, USERS_FILTER_PERMISSION]">
    <div class="col-8 mx-auto">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Filters
                </mat-panel-title>
              </mat-expansion-panel-header>
              <gd-filter [properties]="properties" (applyFilter)="updateRowData($event)"></gd-filter>
              <mat-form-field class="w-100">
                <mat-label>Locale</mat-label>
                <mat-select [formControl]="selectedLocale">
                    <mat-option *ngFor="let country of CountryCodes" [value]="country.code" (onSelectionChange)="updateColDef()">
                        {{country.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-expansion-panel>
    </div>
</div>
<div *requiredPermissions="[USERS_READ_PERMISSION]">
    <div class="col-8 mx-auto">
        <ag-grid-angular
            class="ag-theme-quartz"
            [rowData]="rowData"
            [columnDefs]="colDefs"
            [defaultColDef]="{flex: 1}"
            [domLayout]="'autoHeight'"
        >
        </ag-grid-angular>
    </div>
</div>
<div class="spinner-div" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
