<div class="navbar navbar-dark bg-dark">
    <div class="text-white p-2 navbar-brand d-flex justify-content-between align-items-between w-100">
        <div>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Geode</a>
        </div>
        <div class="d-flex">
            <div *ngIf="!authService.isUserAuthorizedSignal()">
                <span class="mr-2">
                    <a class="link-light" routerLinkActive="active" routerLink="/auth/login">Login</a>
                </span>
                <span>
                    <a class="link-light" routerLinkActive="active" routerLink="/auth/register">Register</a>
                </span>
            </div>
        </div>
        <div *ngIf="authService.isUserAuthorizedSignal()">
            <span class="mr-2">
                <a class="link-light" routerLinkActive="active" routerLink="/users">Users</a>
            </span>
            <span>
                <a class="link-light" (click)="logout()">Logout</a>
            </span>
        </div>
    </div>
</div>
