mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  flex: 0 0 auto;
  height: 100%;
  width: 250px;
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
  border-radius: 0px;
}

mat-sidenav mat-list-item {
  padding: 10px;
}

mat-list-item a.active {
  text-decoration: underline;
  font-weight: bold;
}

mat-list-item a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #333;
  display: flex;
  gap: 10px;
  align-items: center;
}

mat-sidenav-content {
  padding: 20px;
}
