<h1 class="text-center">Register</h1>
<div class="d-flex container justify-content-center">
    <form #regForm="ngForm" ngNativeValidate class="form w-50" (ngSubmit)="registerSubmit()">
      <div class="mt-2">
        <input name="email" required [(ngModel)]="credentials.email" class="form-control" placeholder="Email" type="email"/>
      </div>
      <div class="mt-2">
        <input name="username" required [(ngModel)]="credentials.username" class="form-control" placeholder="Username" type="text" />
      </div>
      <div class="mt-2">
        <input name="password" required [(ngModel)]="credentials.password" class="form-control" placeholder="Password" type="password">        
      </div>
      <div class="buttons mt-2">
        <button type="submit" class="btn btn-primary">
          Sign In
        </button>
      </div>
    </form>
</div>
<div>
  <div *ngIf="registerResult.isSuccess === false">
    <div *ngFor="let error of registerResult.errors" class="text-center">
      {{error}}
    </div>
  </div>
  <div *ngIf="registerResult.isSuccess === true" class="text-center">
    <p>Successfully registered!</p>
  </div>
</div>