@page "/chats/new"
@inject IChatsService chatsService
@inject NavigationManager navigator;

<h3>New chat</h3>
<p>@message</p>
<div class="justify-content-center">
    <EditForm Model="@dto" OnSubmit="HandleSubmit" FormName="newChat">
        <ValidationSummary />

        <label for="inputValue">Chat Name</label>
        <InputText id="name" @bind-Value="@dto.Name" />

        <button type="submit">Create</button>
    </EditForm>
</div>

@code {
    private ChatDto dto = new();
    private string? message;

    private async Task HandleSubmit(EditContext context)
    {
        ChatDto newChat = (ChatDto)context.Model;
        bool creationResult = await chatsService.CreateNewChat(newChat.Name);
        if (creationResult)
        {
            navigator.NavigateTo("chats");
        }
        else
        {
            message = "Chat wasn't created";
        }
    }
}
