@page "/"
@inject ILocalStorageService _localstorage;

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
       Authorized
    </Authorized>
    <NotAuthorized>
        Not authorized
    </NotAuthorized>
</AuthorizeView>

@code {
}
