@page "/"
@inject ILocalStorageService _localstorage;

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        @token
    </Authorized>
    <NotAuthorized>
        Not authorized
    </NotAuthorized>
</AuthorizeView>

@code{
    private string? token;
    protected override async Task OnInitializedAsync()
    {
        token = await _localstorage.GetItemAsStringAsync("BearerToken");
    }
}
