@page "/login"
@inject IAuthenticationService authService

<h3>Login</h3>
<div class="justify-content-center">
    <EditForm Model="@dto" OnSubmit="LoginAsync" FormName="login" class="form-group w-50" style="margin:auto">
        <div class="mt-2">
            <label for="email">Email</label>
            <InputText id="email" type="email" @bind-Value="@dto.Email" class="form-control" required></InputText>
        </div>
        <div class="mt-2">
            <label for="password">Password</label>
            <InputText id="password" type="password" @bind-Value="@dto.Password" class="form-control" required></InputText>
        </div>
        <div class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </div>
    </EditForm>
    <p>@message</p>
</div>
@code {
    private LoginDto dto = new LoginDto();
    private string message = string.Empty;

    private async Task LoginAsync(EditContext context)
    {
        message = "Logging in...";
        LoginDto contextDto = (LoginDto)context.Model;
        bool result = await authService.LogInAsync(contextDto);
        message = result ? "Successfully logged in!" : "Login was failed. Check your credentials";
    }
}
