@page "/call/{Remote}"

@inject IJSRuntime JsRuntime

<div id="video-call-div">
    <video muted id="local-video" autoplay></video>
    <video id="remote-video" autoplay></video>
    <div class="actions-div">
        <button onclick="muteVideo()">Mute video</button>
        <button onclick="muteAudio()">Mute audio</button>
    </div>
</div>

@code {
    [Parameter]
    public string? Remote { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        await JsRuntime.InvokeVoidAsync("joinCall", Remote);
    }
}
