@page "/call/{Remote}"

@implements IAsyncDisposable
@inject IJSRuntime JsRuntime

<div id="video-call-div">
    <video muted id="local-video" autoplay></video>
    <video id="remote-video" autoplay></video>
    <div class="actions-div">
        <button @onclick="ChangeVideoStatus">Mute video</button>
        <button @onclick="ChangeAudioStatus">Mute audio</button>
    </div>
</div>

@code {
    [Parameter]
    public string? Remote { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("joinCall", Remote);
    }

    public async ValueTask DisposeAsync()
    {
        await JsRuntime.InvokeVoidAsync("stopHubConnection");
        await JsRuntime.InvokeVoidAsync("closeRtcConnection");
        await JsRuntime.InvokeVoidAsync("stopMediaTracks");
    }

    private async Task ChangeVideoStatus()
    {
        await JsRuntime.InvokeVoidAsync("changeVideoStatus");
    }

    private async Task ChangeAudioStatus()
    {
        await JsRuntime.InvokeVoidAsync("changeAudioStatus");
    }
}
